<form method="post" action="/createPost">
  <div class=" position-absolute top-50 start-50 translate-middle">
    <div class="card text-white bg-dark border-light" style="max-width: 20rem;">
      <div class="card-header">
        <div class="form-group">
          <label for="exampleTextarea" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title">
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">
        <div class="form-group">
          <div class="form-group">
            <label for="exampleTextarea" class="form-label">Description</label>
            <textarea  type="textarea" class="form-control" id="description" name="description" rows="3"></textarea>
          </div>
          </p>
          <button type="submit" class="btn btn-outline-success">Create</button>
        </div>
      </div>
    </div>
  </div>
</form>