<form method="post" action="/login">
    <div class="form-group w-25">
        <label class="form-label mt-4">Enter information</label>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="password" id="floatingPassword"
                placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-outline-warning">Submit</button>
    </div>
</form>